@{
    ViewBag.Title = "Index";
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    @Html.ActionLink("Movie Bookings", "Index", "Movie", new {@class = "navbaritem"})
    @Html.ActionLink("Food Court Bookings", "Index", "FoodCourt", new {@class = "navbaritem"})
    @Html.ActionLink("Party Bookings", "Index", "Party", new {@class = "navbaritem"})

    @Html.Partial("_LoginPartial", new {@class = "partialLogin"})
</div>

<br />       

<div class="tableMenu">
    <h1>Welcome To iReserve</h1>
</div>
<table style="width:100%">
  <tr>
    <td>
        @Html.ActionLink("View Movie Bookings", "ViewMovieBookings") 
    </td>
    <td>
        
    </td> 
    <td>
        
    </td>
  </tr>
</table>
