@model IEnumerable<iReserve.Models.ViewMovieBookings>
@using iReserve.Models;

<table>
    <tr>
        <th>Booking ID</th>
        <th>Employee ID</th>
        <th>Movie Name</th>
        <th>Show Date</th>
        <th>Show</th>
        <th>Booking Date</th>
        <th>No of Seats</th>
        <th>Card Type</th>
        <th>Card No</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>
    @foreach(ViewMovieBookings booking in Model)
     {
       <tr>
            <td>@booking.BookingId</td>
            <td>@booking.EmployeeNumber</td>
            <td>@booking.MovieName</td>
            <td>@booking.ShowDate</td>
            <td>@booking.Show</td>
            <td>@booking.BookingDate</td>
            <td>@booking.NumberOfSeats</td>
            <td>@booking.CardType</td>
            <td>@booking.CardNumber</td>
            <td>@booking.Amount</td>
            <td>@booking.Status</td>
       </tr>
     }
 </table>