@model IEnumerable<iReserve.Models.ViewPartyBookings>

@using iReserve.Models;

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Viewings.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class="navbaritem"})
    @Html.ActionLink("Movie Bookings", "Index", "Movie", null, new { @class = "navbaritem" })
    @Html.ActionLink("Food Court Bookings", "Index", "FoodCourt", null, new { @class = "navbaritem" })
    @Html.ActionLink("Party Bookings", "Index", "Party", null, new { @class = "navbaritem" })
    @Html.ActionLink("View All Bookings", "ViewAll", "Home", null, new { @class="navbaritem"})

    @Html.Partial("_LoginPartial", new { @class = "partialLogin" })
</div>

<br />       

<div id="navigationbar02" class="navbarlevel2">
    @*@Html.ActionLink("Book Party", "BookParty", "Party", null, new { @class="navbaritem2"})*@  
    @Html.ActionLink("View Party Bookings", "ViewPartyBookings", "Party", null, new { @class="navbaritem2"})       
</div>

<br />

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Venue Name</th>
                <th>Booking Date</th>
                <th>Event Date</th>
                <th>Amount</th>
                <th>Approval Status</th>
            </tr>
        </thead>
        @*<tfoot>
            <tr>
                <td colspan="11">
                    <div id="paging">
                        <ul>
                            <li><a href="#"><span>Previous</span></a></li>
                            <li><a href="#" class="active"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#"><span>4</span></a></li>
                            <li><a href="#"><span>5</span></a></li>
                            <li><a href="#"><span>Next</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>*@
        <tbody>
            @if (Model.Count<ViewPartyBookings>() != 0)
            {
                foreach (ViewPartyBookings booking in Model)
                {
                    <tr>
                        <td>@booking.BookingId</td>
                        <td>@booking.VenueName</td>
                        <td>@booking.BookingDate</td>
                        <td>@booking.EventDate</td>
                        <td>@booking.Amount</td>
                        <td>@booking.ApprovalStatus</td>
                    </tr>
                }
            }
            
            else
            {
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2" style="text-align:center">
                            No data entries to show
                    </td>
                    <td colspan="2"></td>
                </tr>   
            }             
        </tbody>
    </table>
</div>
