@model iReserve.ViewModels.DeliveryModel

@using iReserve.Models;

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Viewings.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    @Html.Partial("_LoginPartial", new { @class = "partialLogin" })
</div>

<script>
    $(document).ready(function(){
        $('.confirmbtn').click(function () {
            var trRef = $(this).parent().parent();

            var bookingID = $(trRef).find('td:eq(0)').html();

            if ($('#RadioApproved').attr('checked')) {
                $.ajax({
                    type: 'POST',
                    url: 'UpdateStatus',
                    data: { bookingID: bookingID, status: 'A' },
                    dataType: "html",
                    success: function (data, status, jqXHR) {
                        window.location.reload(true);
                    }
                });
            }

            else if ($('#RadioRejected').attr('checked')) {
                $.ajax({
                    type: 'POST',
                    url: 'UpdateStatus',
                    data: { bookingID: bookingID, status: 'R' },
                    dataType: "html",
                    success: function (data, status, jqXHR) {
                        window.location.reload(true);
                    }
                });
            }

            else {
                alert('ERROR: ' + bookingID + ' No option clicked. Please click Approve or Reject.');
            }
        });
    });
</script>


<br />       

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Employee ID</th>
                <th>Venue Name</th>
                <th>Booking Date</th>
                <th>Event Date</th>
                <th>Amount</th>
                <th>Approval Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        @*<tfoot>
            <tr>
                <td colspan="11">
                    <div id="paging">
                        <ul>
                            <li><a href="#"><span>Previous</span></a></li>
                            <li><a href="#" class="active"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#"><span>4</span></a></li>
                            <li><a href="#"><span>5</span></a></li>
                            <li><a href="#"><span>Next</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>*@
        @{ var i = 0;}
        <tbody>
            @if (Model.bookingCollection != null && Model.EmployeeIDCollection != null)
            {   
                foreach (var booking in Model.bookingCollection)
                {
                    <tr>
                        <td>@booking.BookingId</td>
                        <td>@Model.EmployeeIDCollection[i]</td>
                        <td>@booking.VenueName</td>
                        <td>@booking.BookingDate</td>
                        <td>@booking.EventDate</td>
                        <td>@booking.Amount</td>
                        <td>@booking.ApprovalStatus</td>
                        <td>
                            @Html.RadioButtonFor(m => m.bookingCollection[i].ApprovalStatus, "A", new { @id = "RadioApproved" }) <span>Approve</span>
                            @Html.RadioButtonFor(m => m.bookingCollection[i].ApprovalStatus, "R", new { @id = "RadioRejected" }) <span>Reject</span>
                            <input type="button" value="Confirm" id="confirmbtn" class="confirmbtn" />
                        </td>
                    </tr>
                
                    i = i + 1;
                }
            }
            
            else
            {
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2" style="text-align:center">
                            No data entries to show
                    </td>
                    <td colspan="3"></td>
                </tr>   
            }             
        </tbody>
    </table>
</div>
