@{
    ViewBag.Title = "iReserve Home";
    ViewBag.message = TempData["message"];
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var msg = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["message"]))';
            if (msg != null) {
                alert(msg);
            }
        });
    </script>
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    @Html.ActionLink("Movie Bookings", "Index", "Movie", new { @class = "navbaritem" })
    @Html.ActionLink("Food Court Bookings", "Index", "FoodCourt", new { @class = "navbaritem" })
    @Html.ActionLink("Party Bookings", "Index", "Party", new { @class = "navbaritem" })

    @Html.Partial("_LoginPartial", new { @class = "partialLogin" })
</div>

<br />       

<div style="text-align:center; color:red; font-family:Arial; font-size:x-large">
    <h1>Welcome To iReserve</h1>
</div>
<table style="width:100%">
  <tr>
    <td>
        <a href="@Url.Action("Index", "Movie")">
            <img src='@Url.Content("~/Images/movie-theater.jpg")' alt="Alternate Text" height="320" width="480"/>
        </a>
    </td>
    <td>
        <a href="@Url.Action("Index", "FoodCourt")">
            <img src='@Url.Content("~/Images/food-booking.jpg")' alt="Alternate Text" height="320" width="480"/>
        </a>        
    </td> 
    <td>
        <a href="@Url.Action("Index", "TeamParty")">
            <img src='@Url.Content("~/Images/party.jpg")' alt="Alternate Text" height="320" width="480"/>
        </a>
    </td>
  </tr>
</table>
