@model iReserve.ViewModels.MenuViewModel

@using iReserve.Models;

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Viewings.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AddStyles.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

@section Scripts{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css"/>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DateField.js"></script>
}

<script>
    $(document).ready(function(){
        $('.confirmbtn').click(function () {
            var trRef = $(this).parent().parent();

            var menuID = $(trRef).find('td:eq(0)').html();
            var FCName = $(trRef).find('td:eq(1)').html();
            var CName = $(trRef).find('td:eq(2)').html();
            var DName = $(trRef).find('td:eq(3)').html();
            var SDate = $(trRef).find('td:eq(4)').html();
            var NoP = $(trRef).find('td:eq(5)').html();

            $.ajax({
                    type: 'POST',
                    url: 'GetMenuDetailsForUpdate',
                    data: { menuID: menuID, FCName: FCName, CName: CName, DName: DName, SDate: SDate, NoP: NoP },
                    dataType: "html",
                    success: function (data, status, jqXHR) {
                        $('#UpdateArea').html(data);
                    }
            });
        });
    });


</script>


<div id="navigationbar01" class="navbar">
    @Html.Partial("_LoginPartial", new { @class = "partialLogin" })
</div>

<br />       

<div id="navigationbar02" class="navbarlevel2">
    @Html.ActionLink("Add Menu", "AddMenu", "FoodCourtAdmin", null, new { @class="navbaritem2"})
    @Html.ActionLink("Remove Menu", "RemoveMenu", "FoodCourtAdmin", null, new { @class="navbaritem2"})
    @Html.ActionLink("Update Menu", "UpdateMenu", "FoodCourtAdmin", null, new {@class = "navbaritem2"})
    @*@Html.ActionLink("Add Dish", "AddDish", "FoodCourtAdmin", null, new {@class = "navbaritem2"})
    @Html.ActionLink("Remove Dish", "RemoveDish", "FoodCourtAdmin", null, new {@class = "navbaritem2"})
    @Html.ActionLink("Add Caterer", "AddCaterer", "FoodCourtAdmin", null, new {@class = "navbaritem2"})
    @Html.ActionLink("Remove Caterer", "RemoveCaterer", "FoodCourtAdmin", null, new {@class = "navbaritem2"}) *@   
</div>

<br />

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>Menu ID</th>
                <th>Food Court Name</th>
                <th>Caterer Name</th>
                <th>Dish Name</th>
                <th>Serving Date</th>
                <th>Number of Plates</th>
                <th>Actions</th>
            </tr>
        </thead>
        @*<tfoot>
            <tr>
                <td colspan="11">
                    <div id="paging">
                        <ul>
                            <li><a href="#"><span>Previous</span></a></li>
                            <li><a href="#" class="active"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#"><span>4</span></a></li>
                            <li><a href="#"><span>5</span></a></li>
                            <li><a href="#"><span>Next</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>*@
        @{ var i = 0;}
        <tbody>
            @if (Model.MenuIdList.Count != 0)
            {
                foreach (var item in Model.MenuItemList)
                {
                    <tr>
                        <td>@Model.MenuIdList[i]</td>
                        <td>@item.FoodCourtName</td>
                        <td>@item.CatererName</td>
                        <td>@item.DishName</td>
                        <td>@item.ServingDate</td>
                        <td>@item.NumberOfPlates</td>
                        <td>
                            <input type="button" value="Update" id="confirmbtn" class="confirmbtn" />
                        </td>
                    </tr>
                
                    i = i + 1;
                }
            }
            else
            {
                <tr>
                    <td colspan="2"></td>
                    <td colspan="3" style="text-align:center">
                            No data entries to show
                    </td>
                    <td colspan="2"></td>
                </tr>   
            }
                         
        </tbody>
    </table>
</div>

<div id="UpdateArea"></div>