@model iReserve.Models.ViewMealBookings 
@*I don't think this is needed here.*@

@{
    ViewBag.Title = "Index";
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class="navbaritem"})
    @Html.ActionLink("Movie Bookings", "Index", "Movie", null, new {@class = "navbaritem"})
    @Html.ActionLink("Food Court Bookings", "Index", "FoodCourt", null, new {@class = "navbaritem"})
    @Html.ActionLink("Party Bookings", "Index", "Party", null, new {@class = "navbaritem"})
    @Html.ActionLink("View All Bookings", "ViewAll", "Home", null, new { @class="navbaritem"})

    @Html.Partial("_LoginPartial", new {@class = "partialLogin"})
</div>

<br />       

<div class="tableMenu">
    <h1>Welcome To iReserve</h1>
</div>

<br />

<table style="width:100%">
  <tr>
    <td>
        @Html.ActionLink("View Meal Bookings", "ViewFoodBookings") 
    </td>
    <td>

    </td> 
    <td>
        
    </td>
  </tr>
</table>

