@model iReserve.Models.PasswordChangeModel

@{
    ViewBag.Title = "ChangePassword";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DateField.js"></script>
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    @Html.ActionLink("Movie Bookings", "Index", "Movie", null, new { @class = "navbaritem" })
    @Html.ActionLink("Food Court Bookings", "Index", "FoodCourt", null, new { @class = "navbaritem" })
    @Html.ActionLink("Party Bookings", "Index", "Party", null, new { @class = "navbaritem" })
    @Html.ActionLink("View All Bookings", "ViewAll", "Home", null, new { @class="navbaritem"})

    @Html.Partial("_LoginPartial", new { @class = "partialLogin" })
</div>

<br />       

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Change Password</legend>
        <table class="tablelogin">
            <tr>
                <th class="side"></th>
                <th class="mid"></th>
                <th class="mid"></th>
                <th class="side"></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.OldPassword)                    
                </td>
                <td>
                    @Html.TextBoxFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>            
        </table>
        <br />
        <div class="midclass">
            <input type="submit" value="Save Changes" class="SubmitButton"/>
        </div>
    </fieldset>
}