@model iReserve.Models.PasswordChangeModel

@{
    ViewBag.Title = "ChangePassword";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DateField.js"></script>
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<script>
    function comparePassword(){
        var pswdOld = $('#oldPswd').val();
        var pswdNew = $('#newPswd').val();

        if (pswdNew === pswdOld) {
            alert('New password cannot be the same as old password.');
            return false;
        }

        return true;
    };
</script>

<div id="navigationbar01" class="navbar">
    
    @{
        var userRole = @Session["UserRole"];
     }

    @if (userRole.Equals("U"))
    {
        @Html.ActionLink("Home", "Index", "Home", null, new { @class="navbaritem"})
        @Html.ActionLink("Movie Bookings", "ViewMovieBookings", "Movie", null, new { @class = "navbaritem" })
        @Html.ActionLink("Food Court Bookings", "ViewFoodBookings", "FoodCourt", null, new { @class = "navbaritem" })
        @Html.ActionLink("Party Bookings", "ViewPartyBookings", "Party", null, new { @class = "navbaritem" })
        @Html.ActionLink("View All Bookings", "ViewAll", "Home", null, new { @class="navbaritem"})
    }

    else if (userRole.Equals("F"))
    {
        @Html.ActionLink("Add Menu", "AddMenu", "FoodCourtAdmin", null, new { @class="navbaritem"})
        @Html.ActionLink("Update Menu", "UpdateMenu", "FoodCourtAdmin", null, new { @class="navbaritem"})
        @Html.ActionLink("Remove Menu", "RemoveMenu", "FoodCourtAdmin", null, new { @class="navbaritem"})
    }

    else if (userRole.Equals("M"))
    {
        @Html.ActionLink("Add Movie", "AddMovie", "MovieAdmin", null, new { @class="navbaritem"})
        @Html.ActionLink("Cancel Movie", "RemoveMovie", "MovieAdmin", null, new { @class="navbaritem"})
    }

    else if (userRole.Equals("P"))
    {
        @Html.ActionLink("Add Venue", "AddVenue", "PartyAdmin", null, new { @class="navbaritem"})
        @Html.ActionLink("Remove Venue", "RemoveVenue", "PartyAdmin", null, new { @class="navbaritem2"}) 
    }
    else if (userRole.Equals("D"))
    {
        @Html.ActionLink("View Party Bookings", "DeliveryIndex", "Home", null, new { @class="navbaritem"})
    }

    @Html.Partial("_LoginPartial", new { @class = "partialLogin" })
</div>

<br />       

@using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "javascript:return comparePassword();" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Change Password</legend>
        <table class="tablelogin">
            <tr>
                <th class="side"></th>
                <th class="mid"></th>
                <th class="mid"></th>
                <th class="side"></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.OldPassword)                    
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword, new { @id="oldPswd"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword, new { @id="newPswd"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                    <div id="comparator"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>            
        </table>
        <br />
        <div class="midclass">
            <input type="submit" value="Save Changes" class="SubmitButton"/>
        </div>
    </fieldset>
}