@model iReserve.Models.UserLoginModel

@{
    ViewBag.Title = "Login";
}

@section Scripts {
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    The rest of the world at the click of a mouse.
</div>

<br />    

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <table class="tablelogin">
            <tr>
                <th class="side"></th>
                <th class="mid"></th>
                <th class="mid"></th>
                <th class="side"></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.Role)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Role, new SelectList(new List<Object>{
                                                                new { value = "U" , text = "User"  },
                                                                new { value = "F" , text = "Food Court Admin" },
                                                                new { value = "M" , text = "Multiplex Admin"},
                                                                new { value = "P" , text = "Party Admin"},
                                                                new { value = "D" , text = "Delivery Manager"}
                                                            },
                                                            "value",
                                                            "text",
                                                            0))
                    
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Role)
                </td>
            </tr>
        </table>
        <br />
        <div class="midclass">
            <input type="submit" value="Log in" class="SubmitButton" id="loginbtn"/>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        </div>
        
    </fieldset>
    
}
</section>