@model iReserve.Models.UserRegisterModel
@{
    ViewBag.Title = "Register";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DateField.js"></script>

    @*<script>
        $(document).ready(function () {
            $("#CheckButton").click(function () {
                var userName = $('#UserName').val();
                console.log(userName);
                $.ajax({
                    url: 'CheckName',
                    data: { userName: userName },
                    dataType: "json",
                    success: function (data) {
                        if (data == undefined) {
                            //display your err message here
                            $("#message").text("Username is available");
                            $("#message").css("color", "green");
                            $("#UserName").css("background-color", "white");
                            $("#UserName").css("color", "black");
                        }
                        else {
                            //do something
                            $("#message").html("User with this name already exists.");
                            $("#message").css("color", "red");
                            $("#UserName").css("background-color", "#FF5C5C");
                            $("#UserName").css("color", "white");
                        }
                    }
                });
            });
        });
    </script>*@
    
    <script>
        function CheckUserAvailability() {
            var username = document.getElementById("userName").value;
            var serviceurl = "http://localhost:53046/Service1.svc/checkavailability?username=" + username;
            jQuery.support.cors = true;
            $.ajax({
                url: serviceurl,
                cache: false,
                type: "GET",
                async: false,
                dataType: "jsonp",
                success: function (data) {
                    console.log(data);
                    var retval = JSON.parse(data);

                    if (retval["available"] == false)
                        alert("Username Not Available.")
                    else {
                        //document.getElementById("Register").disabled = false;
                        alert("Username Available.")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    debugger;
                    alert("Service Error");
                }
            });
        }
    </script>
        
    <script>
        $(document).ready(function () {
            $("#UserName").focus(function () {
                if ($("#UserName").css("color") == "red") {
                    $("#UserName").css("color", "black");
                    $("#UserName").css("background-color", "white");
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#regbtn').click(function () {
                var userId = $('#userId').val();
                var userName = $('#userName').val();
                var joiningDate = $('#datefield').val();
                var emailId = $('#emailId').val();
                var phoneNumber = $('#phoneNo').val();


                $.ajax({
                    type: 'POST',
                    url: '/UserAccount/CheckName',
                    data: { userName: userName },
                    dataType: 'json',
                    success: function (data) {
                        if (data == undefined) {
                            $.ajax({
                                type: 'POST',
                                url: '/UserAccount/GetPassword',
                                data: {},
                                dataType: "text",
                                success: function (data) {
                                    var pswd = data;
                                    if (data.indexOf("ERROR") < 0) {
                                        // make another ajax call to generate password
                                        setTimeout(function () {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/UserAccount/Register',
                                                data: { UserId: userId, UserName: userName, JoiningDate: joiningDate, Password: pswd, EmailId: emailId, PhoneNumber: phoneNumber },
                                                dataType: "text",
                                                success: function (data) {
                                                    alert('Use the following password to login. You can change the password after you log in. \nPassword: ' + pswd);
                                                    window.location.href = '@Url.Action("Login", "UserAccount")';
                                                }
                                            });
                                        }, 2000);
                                    }

                                    else {
                                        // Display error
                                        $('#errordiv').html(data + "<br/>");
                                    }
                                }
                            });
                        }

                        else {
                            $("#message").html("Account with this name already exists.");
                            $("#message").css("color", "red");
                            $("#UserName").css("background-color", "#FF5C5C");
                            $("#UserName").css("color", "white");
                        }
                    }
                });
            });
        });
    </script>

}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    The world at the click of a mouse.
</div>

<br />   

<div id="errordiv"></div>    

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Registration Form</legend>
        <table class="tablelogin">
            <tr>
                <th class="side"></th>
                <th class="mid"></th>
                <th class="mid"></th>
                <th class="side"></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.EmployeeID)                    
                </td>
                <td>
                    @Html.TextBoxFor(m => m.EmployeeID, new { @id="userId"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.EmployeeID)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new {@id = "userName"})
                </td>
                <td>
                    <input type="button" value="Check if Available" id="CheckButton" onclick="CheckUserAvailability()"/>
                    <span id="message"></span>
                    @Html.ValidationMessageFor(m => m.Name)                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.DateOfJoining)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DateOfJoining, new {@type="text", @id="datefield", @readonly="readonly", @style="background:white", @class="pastDates"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.DateOfJoining)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.EmailId)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.EmailId, new { @id="emailId"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.EmailId)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.PhoneNumber)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @id="phoneNo"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </td>
            </tr>
            @*<tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>*@
        </table>
        <br />
        <div class="midclass">
            <input type="button" value="Sign Me Up" class="SubmitButton" id="regbtn"/>
        </div>
    </fieldset>
}