@model iReserve.Models.UserRegisterModel
@{
    ViewBag.Title = "Register";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DateField.js"></script>

    <script>
        $(document).ready(function () {
            $("#CheckButton").click(function () {
                var userName = $('#UserName').val();
                console.log(userName);
                $.ajax({
                    url: 'CheckName',
                    data: { userName: userName },
                    dataType: "json",
                    success: function (data) {
                        if (data == undefined) {
                            //display your err message here
                            $("#message").text("Username is available");
                            $("#message").css("color", "green");
                            $("#UserName").css("background-color", "white");
                        }
                        else {
                            //do something
                            $("#message").html("User with this name already exists.");
                            $("#message").css("color", "red");
                            $("#UserName").css("background-color", "#FF5C5C");
                            $("#UserName").css("color", "white");
                        }
                    }
                });
            });
        });
    </script>
}

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css">
}

<div id="navigationbar01" class="navbar">
    
</div>

<br />       

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Registration Form</legend>
        <table class="tablelogin">
            <tr>
                <th class="side"></th>
                <th class="mid"></th>
                <th class="mid"></th>
                <th class="side"></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.EmployeeID)                    
                </td>
                <td>
                    @Html.TextBoxFor(m => m.EmployeeID)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.EmployeeID)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new {@id = "UserName"})
                </td>
                <td>
                    <input type="button" value="Check if Available" id="CheckButton" />
                    <span id="message"></span>
                    @Html.ValidationMessageFor(m => m.Name)                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.DateOfJoining)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DateOfJoining, new {@type="text", @id="datefield", @readonly="readonly", @style="background:white"})
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.DateOfJoining)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.EmailId)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.EmailId)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.EmailId)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.PhoneNumber)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </td>
            </tr>
        </table>
        <br />
        <div class="midclass">
            <input type="submit" value="Sign Me Up" class="SubmitButton"/>
        </div>
    </fieldset>
}