@model iReserve.Models.AddVenue

@using iReserve.Models

@section ViewingStyles {
    <link rel="stylesheet" type="text/css" href="~/Content/Viewings.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/AddStyles.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/Navigation.css"/>
}

@section Scripts{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css"/>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DateField.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#AddVenueBtn').click(function () {
            var VN = $('#VName').val();
            var VA = $('#VAddr').val();
            var VC = $('#VCap').val();

            $.ajax({
                type: 'POST',
                url: 'AddVenue',
                data: { VN: VN, VA: VA, VC: VC },
                dataType: "text",
                success: function (data) {
                    var result = $.trim(data);
                    alert(data);
                    if (result === "DONE") {
                        alert("Venue Created.");
                        window.location.reload(true);
                    }

                    else {
                        alert("Venue not added. Retry");
                    }
                }

            });
        });
    });
</script>

<div id="navigationbar01" class="navbar">
    @Html.Partial("_LoginPartial", new {@class = "partialLogin"})
</div>

<br />

<div id="navigationbar02" class="navbarlevel2">
    @Html.ActionLink("Add Venue", "AddVenue", "PartyAdmin", null, new { @class="navbaritem2"})        
</div>

<br />

@using (Html.BeginForm()){
    <fieldset>
        <legend>Add Venue</legend>
        <table class="tableForms">
              <tr>
                  <th class="side"></th>
                  <th class="mid"></th>
                  <th class="mid"></th>
                  <th class="side"></th>
              </tr>
              <tr>
                <td></td>
                <td>@Html.LabelFor(model => model.VenueName)</td>        
                <td>@Html.TextBoxFor(model => model.VenueName, new { @id = "VName"})</td>
                <td>@Html.ValidationMessageFor(model => model.VenueName)</td>
              </tr>
    
              <tr>
                <td></td>
                <td>@Html.LabelFor(model => model.VenueAddress)</td>
                <td>@Html.TextBoxFor(model => model.VenueAddress, new { @id = "VAddr"})</td>
                <td>@Html.ValidationMessageFor(model => model.VenueAddress)</td>
              </tr>
    
              <tr>
                <td></td>
                <td>@Html.LabelFor(model => model.VenueCapacity)</td>
                <td>@Html.TextBoxFor(model => model.VenueCapacity, new { @id = "VCap"})</td>
                <td>@Html.ValidationMessageFor(model => model.VenueCapacity)</td>
              </tr>    
        </table>
    </fieldset>
}

<br />
<div class="midclass">
    <input type="button" value="Add Venue" class="SubmitButton" id="AddVenueBtn" />
</div>

