<!DOCTYPE html>
@{
    ViewBag.Title = "iReserve";
    ViewBag.TimeStamp = System.DateTime.Now.ToString("hh:mm:ss tt");
    ViewBag.DateStamp = System.DateTime.Now.ToString("dddd") + ", " + System.DateTime.Now.ToString("dd MMMM yyyy");    
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery-1.8.2.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/DateTimeStamp.js"></script>
        @Styles.Render("~/Content/css")   
        @RenderSection("Scripts", required: false)
        @RenderSection("ViewingStyles", required: false)
        @Scripts.Render("~/bundles/jqueryval")
        
        <script>
            $(document).ready(function () {
                setInterval('updateClock()', 1000);
            });
        </script>

        <script type ="text/javascript">
            window.onload = window.history.forward(0);
        </script>

    </head>

    <body>
        <header>            
            <div id="banner">
				<table class="bannertable">
                    <tr>
                        <th class="col1" />
                        <th class="col2" />
                    </tr>
                    <tr>
                        <td>
                            <h2><img src="~/Images/Logo.jpg" style="height:100px"/></h2>
                            @*<h2>iReserve</h2>*@
                        </td>

                        <td>
                            <span id="TimeStamp" style="font-size:32px;"></span>
                            <br />
                            <span id="DateStamp" style="font-size:24px;"></span>
                        </td>
                    </tr>
				</table>
			</div>
        </header>
        <div id="body">            
            @*@RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div style="font-size:x-small; text-align:center; bottom:0; width:100%">
                    <p>&copy; @DateTime.Now.Year - iReserve Team</p>
                    <p>Srijan Misra & Gabriel Broadwin Nongsiej</p>
                </div>
            </div>
        </footer>
    </body>
</html>
