<!DOCTYPE html>
@{
    ViewBag.Title = "iReserve";
    ViewBag.TimeStamp = System.DateTime.Now.ToString("hh:mm:ss tt");
    ViewBag.DateStamp = System.DateTime.Now.ToString("dddd") + ", " + System.DateTime.Now.ToString("dd MMMM yyyy");
}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")        
    </head>

    <body>
        <header>            
            <div id="banner">
				<table class="bannertable">
                    <tr>
                        <th class="col1" />
                        <th class="col2" />
                    </tr>
                    <tr>
                        <td>
                            <h2>iReserve</h2>
                        </td>

                        <td>
                            <h3>@ViewBag.TimeStamp
                            <br />
                            @ViewBag.DateStamp</h3>
                        </td>
                    </tr>
				</table>
			</div>
            <div id="navigationbar01" class="navbar">
                @RenderSection("navigation", false)
            </div>
        </header>
        <div id="body">
            @*@RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            @*<div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>*@
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
